body, html {
    height: 100%;
    margin: 0px;
}

body {
    background: linear-gradient(to bottom right, #073642, #586e75);
}

#contenu {
    height: 100%;
    display: grid;
    grid-template-areas: "sortie sortie fichiers fichiers fichiers"
                         "sortie sortie boutons dragndrop dragndrop"
                         "sortie sortie boutons dragndrop dragndrop"
                         "sortie sortie boutons . ."
                         "sortie sortie boutons . .";
    grid-template-columns: 20vw 1fr 1fr 1fr 1fr;
    grid-template-rows: 5vh 1fr 1fr 1fr 1fr;
    
}

#contenu > #sortie {
    grid-area: sortie;
}

#contenu > #fichiers{
    grid-area: fichiers;
    /*justify-self: center;*/
    align-self: center;
    background-color: brown;
}

#contenu > #boutons {
    grid-area: boutons;
    background-color: chartreuse;
    margin: auto;
}

#contenu > #dragndrop {
    grid-area: dragndrop;
    background-color: coral;
}

 #boutons input {
     display: block;
 }

 #sortie > textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    resize: none;
    background-color: inherit;
    color: white;
    opacity: 0.5;
    border-style: none;
 }

#sortie > textarea:focus {
    outline: none;
}

